.loader {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.75rem solid lightgrey;
  border-top: 0.75rem solid #268cfa;
  animation: spin 1s linear infinite;
  margin-top: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
